{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post article</title>
     <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            "mode":"textareas",
            "theme":"advanced",
            "width":600,
            "height":300,

});

    </script>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <span>标题</span><input type="text" name="title">
    <textarea name="content">

    </textarea>
    <button type="submit">保存</button>

</form>
</body>
</html>